.container_login{
    justify-content: center;
    width: 650px;
    height: 650px;

}

.inputLogin{
    width: 500px;
    margin-bottom: 15px;
}

.buttonLogin{
    width: 250px;
    height: 45px;
    margin-bottom: 15px;
}

.restablecer{
    width: 200px;
    height: 25px;
}

.fueraDeSidebar{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.example-card {
    max-width: 400px;
  }
  .example-header-image {
    background-image: url('/src/iniciar-sesion.png');
    background-size: cover;
  }
