<div class="container tamanio">
    <mat-card class="example-card">
        <mat-card-title  >
            <h2 >{{titulo}}</h2> 
        </mat-card-title>
        
        <mat-card-subtitle>Ingresa los datos de la marca</mat-card-subtitle>
        <mat-card-content>
    
            <form [formGroup]="formularioMarca">
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="nombre de la sucursal" type="text" formControlName="nombre"
                        [(ngModel)]="marca.descripcion" textA
                        [formControl]="nombre" required
                        >
                    <mat-error *ngIf="nombre.invalid" >{{getErrorNombreRequired()}}</mat-error>
                    <mat-error *ngIf="nombre.errors?.['minlength']" >{{getErrorNombreMin()}}</mat-error>
                    <mat-error *ngIf="nombre.errors?.['maxlength']" >El campo debe ser menor a 64 caracteres</mat-error>
                    </mat-form-field>
                </div>
            </form>
    
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary" 
        name="btnGuardar"
        *ngIf="!marca.id_marca else elseBlock" 
        (click)="crearMarca()" 
        [disabled]="!formularioMarca.valid"
        >
        Guardar
        </button>  
        
        <ng-template #elseBlock>
        <button mat-raised-button color="primary" (click)="updateMarca()"
        [disabled]="!formularioMarca.valid"
        >Actualizar</button>
        </ng-template>    
        
  
        <button mat-raised-button color="primary" [routerLink]="['/marcas']">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>